<a routerLink="/menuppal">
  <h1 class="menu-title">
    <!--<mat-icon class="icon">work</mat-icon> -->
    <span class="title-text">Colonia Retail Business</span> 
  </h1>
</a>

  


  <!--
    <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/resumen">Resumen 1</a>
    <a mat-menu-item routerLink="/indicador">Indicadores</a>
    <a mat-menu-item routerLink="/reporteventa">Reportar ventas</a>
    <a mat-menu-item routerLink="/dashboard">Dashboard</a>
    <a mat-menu-item routerLink="/usuarios">Usuarios</a>
    <a mat-menu-item routerLink="/otros">Otros</a>
  </mat-menu>
  <span class="fill-remaining-space"></span>
  <a mat-button routerLink="/login">Logout</a>
</mat-toolbar> -->
