a {
  text-decoration: none; 
  outline: none; 
}
.header {

  margin-bottom: 20px;
}

.title-text {
  text-decoration: none;
}

.menu-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0 10px 30px;
  border-bottom: 1px solid #000000;
}

.menu-title h1 {
  order: 1;
  margin-right: 10px;
  padding-bottom: 5px;
}

.menu-title h1:after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
}

.menu-title .icon {
  margin-right: 10px;
}
