<mat-toolbar color="primary">
  <a mat-button [matMenuTriggerFor]= "menu">Menu Principal</a>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/resumen">Resumen 1</a>
    <a mat-menu-item routerLink="/indicador">Indicadores</a>
    <a mat-menu-item routerLink="/reporteventa">Reportar ventas</a>
    <a mat-menu-item routerLink="/dashboard">Dashboard</a>
    <a mat-menu-item routerLink="/usuarios">Usuarios</a>
    <a mat-menu-item routerLink="/otros">Otros</a>
  </mat-menu>
  <a mat-button routerLink="/acerca" class="menu-link">Acerca de ...</a>
  <span class="fill-remaining-space"></span>
  <a mat-button routerLink="/login">Logout</a>
</mat-toolbar>

