  
.contenedor-principal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .valores {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  }
  
  .elemento {
    background-color: lightblue;
    padding: 10px;
  }
  
  .indicadores {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
  }
  
  .indicador {
    background-color: lightgreen;
    padding: 10px;
  }
  
  .cumplimientos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
  }
  
  .porcentajes {
    background-color: #7b5bf2;
    padding: 10px;
  }
  
  .detalle-button {
    display: flex;
    justify-content: center;
  }
  
  .detalle-button button {
    background-color: #5d8af2;
  }
  
  .detalle {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 10px; 
  }
  
  .titulo {
    background-color: lightgray;
  }  

  .detalle-button {
    display: flex;
    justify-content: center;
  }
  
  .detalle-button button {
    background-color: rgb(236, 236, 236);
    width: 100%; 
    border: none;
    border-radius: 15px;
  }
  