.contenedor-ppal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #ccc;
    margin: 0 0 12px;
  }

  .container-padre{
    display: flex;
    
  }

  .container-hijo-derecha{
    display: flex;
    justify-content: flex-end;
  }

  .container-hijo-izquierda{
    margin-right: 7px;
    display: flex;
    justify-content: flex-end;
  }

  .container-hijo-izquierda table{
    margin-bottom: 5px;
    padding: 5px;
  }

  .container-hijo-derecha table{
    margin-bottom: 5px;
    padding: 5px;
  }


.nombre-titulo{
    font-weight: bold;
    font-size: 16px;
    color: grey;
}

  .imagen-container {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  .imagen-container img {
    width: 100px; 
    height: 100px; 
  }
  
  .datos-container {
    flex: 1 1 auto;
  }

  
  
  .indicadores-container table {
    width: 100%;
  }
  
  .indicadores-container th {
    padding-right: 10px;
  }
  
  .pruebas-container {
    margin-top: 20px;
  }


  