.volver-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.volver-icon {
  margin-right: 5px; /* Ajusta el margen según sea necesario */
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 15px;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container button {
  font-size: 12px;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 15px;
}

.ventas {
  text-align: center;
  font-size: 24px;
  color: green;
}

.venta-valor {
  font-size: 40px;
  color: green;
  font-weight: bold;
}

.venta-etiqueta {
  font-size: 20px;
  color: gray;
}

.result-info {
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px; /* Ajusta el valor según tu preferencia */
}

.unidades-value{
  font-size: 30px;

}

.facturas-value{
  font-size: 30px;

}

.unidades {
  font-size: 20px;
}

.facturas {
  font-size: 20px;
}

.custom-button {
  border-radius: 10px;
  width: 75px;
  height: 40px;
}
