<div class="volver-container">
  <mat-icon class="volver-icon">arrow_back</mat-icon>
  <a class="volver-link" (click)= "volverPpal()">Volver</a>
</div>

<div class="form-container">
  <mat-form-field appearance="fill">
    <mat-label>Rango de consultas</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Fecha inicial" [(ngModel)]= "startDateInput">
      <input matEndDate placeholder="Fecha final" [(ngModel)]= "endDateInput">
    </mat-date-range-input>

    <mat-datepicker-toggle matIconSuffix [for]= "picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)= "consultar()" class="custom-button">Consultar</button>
  </div>

  <div class="ventas">
    <p class="venta-valor">$ {{totalVentas}}</p>
    <p class="venta-etiqueta">Ventas Totales</p>
  </div>

  <div class="result-info">
    <div class="info-container">
      <p class="unidades-value">{{totalunidades}}</p>
      <p class="unidades">Unidades</p>
    </div>
    <div class="info-container">
      <p class="facturas-value">{{totalFacturas}}</p>
      <p class="facturas">Facturas</p>
    </div>
  </div>

  <div *ngIf= "filteredBaseVenta">
    <div *ngFor= "let venta of filteredBaseVenta">
      <p>{{ venta.nombre }} - {{ venta.fecha | date }}</p>
      <!-- Agrega aquí otros campos que desees mostrar -->
    </div>
  </div>
</div>


  <!--<p *ngIf= "ventapromedio > 0">
    Vpf : {{ ventapromedio }}
    Upf {{ unidadpromedio }}
    Pp {{preciopromedio }}
  </p>-->

  <!--
  <div class="results-container" *ngFor= "let resultado of baseventa">
    <div class="column">
    <p>
        <mat-icon>attach_money</mat-icon>
        {{ resultado.ventas }}</p>
    </div>
    
      <p>{{ resultado.unidades }}</p>
      <p>{{ resultado.facturas }}</p> 
  </div>
 -->


  