<div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Rango de consultas</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha inicial">
        <input matEndDate placeholder="Fecha final">
      </mat-date-range-input>
  
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  
    <div class="button-container">
      <button mat-raised-button color="primary">Consultar</button>
    </div>
  </div>


  <div class="ventas">
    <p class="venta-valor">$ 100</p>
    <p class="venta-etiqueta">Ventas Totales</p>
  </div>
  

  <div class="result-info">
    <p class="unidades"> 999</p>
    <p class="unidades">Unidades</p>
    <p class="facturas"> 99</p>
    <p class="facturas">Facturas</p>
  </div>
  
  <p *ngIf= "ventapromedio > 0">
    Vpf : {{ ventapromedio }}
    Upf {{ unidadpromedio }}
    Pp {{preciopromedio }}
  </p>

  <div class="results-container" *ngFor= "let resultado of baseventa">
    <div class="column">
      
      <p>
        <mat-icon>attach_money</mat-icon>
        {{ resultado.ventas }}</p>
    </div>
    
      <p>{{ resultado.unidades }}</p>
      <p>{{ resultado.facturas }}</p> 
  </div>
 
 

  