.ventas {
  text-align: center;
  font-size: 24px;
  color: green;
}

.venta-valor {
  font-size: 40px;
  color: green;
  font-weight: bold;
}

.venta-etiqueta {
  font-size: 20px;
  color: gray;
}

.result-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-info .unidades {
  margin-right: 10px;
}

.unidades {
  font-size: 20px;
}

.facturas {
  font-size: 20px;
}
