<div class="menu-container">


<div class="encabezado-ppal-1">
  <h1 class="encabezado-ppal">Your sales in movement</h1>
  <!--<p class="encabezado-ppal">Tus ventas en movimiento</p>-->
</div>

<div class="button-row">
  <button mat-button class="custom-button custom-option-button" [routerLink]="['/reporteventa']">
    <mat-icon class="button-icon">shopping_cart</mat-icon> Send Sales
  </button>
</div>

  <!--<div class="button-row">
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/indicador']">
      <mat-icon class="button-icon">dashboard</mat-icon> Statistics
    </button>
  </div>
  
  <div class="button-row">
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/resumen']">
      <mat-icon class="button-icon">description</mat-icon> Reportes
    </button>
  </div> -->
 


  <!--<div class="button-row">
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/opersubmenu']">
      <mat-icon class="button-icon">build</mat-icon> Setup
    </button>
  </div>-->

  <!-- Lineas para pruebas temporales-->
  <div>
    <button [routerLink]="['/temporal']">Pruebas2</button>
  </div>
  <!--<div class="center-button-row">
    <button mat-button class="custom-button custom-login-button" (click)= "redirectToLogin()">
      <mat-icon class="button-icon">login</mat-icon> Login
    </button>
  </div>-->
</div>
