.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vb;
  width: 49vb;
  margin-top: -100px;
  background-color: #edf2fa;
  border-radius: 20px;
  
}

.button-row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  margin: 10px 0;
  
}

.custom-button {
  width: 300px;
  height: 90px;
  font-size: 25px;
  margin: 5px;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  border: none;
  flex-direction: column;
  background-color: #09184D;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.265);
}

.button-icon {
  position: absolute;
  bottom: 35px;
  left: 30px; 
  font-size: 20px;
}

.custom-option-button {
  color: white;
}

.encabezado-ppal-1 {
  display: flex;
  justify-content: center;  
}

.encabezado-ppal {
  
  color: #2f2e2e;
}

.custom-login-button {
  width: 400px; 
  color: #000000;
  justify-content: center;
}


