.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
}

.encabezado-main {
  flex-grow: 1;
}

.menu-title {
  font-size: 24px;
  margin: 0;
}

button {
  font-size: 16px;
  
}
