<!--
<div class="volver-container">
  <mat-icon class="volver-icon">arrow_back</mat-icon>
  <a class="volver-link" (click)= "volverPpal()">Volver</a>
</div>

-->


<div class="login-bienvenido">¡Bienvenido!</div>
<div class="login-form-container">
  <mat-card class="login-form">
    <mat-card-content>
      <form [formGroup]= "loginForm" (ngSubmit)= "onLogin()">
        <mat-form-field class="full-width-input">
          <input
            type="text" 
            formControlName="email"
            matInput placeholder="Usuario" 
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width-input margen">
          <input 
            type="{{ showPassword ? 'text' : 'password' }}" 
            formControlName="password"
            matInput placeholder="Password" 
            required
          />
          <mat-icon matSuffix (click)= "togglePassword()" class="password-icon">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>  
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </form>  
    </mat-card-content>
  </mat-card>
</div>
