

<div class="volver-container" [style.margin-top.px]= "fijarHeader ? 80 : 0">
  <mat-icon class="volver-icon">arrow_back</mat-icon>
  <a class="volver-link" (click)= "volverAtras()">Volver</a>
</div>

 <!-- Genera la fijacion del header con scroll -->
 <!--[class.fijar-header]= "fijarHeader" -->

 <!--

 

<h1 >Resumen de ventas</h1>
<div class="form-container">
    <form [formGroup]= "consultaForm" (ngSubmit)= "consultarDatos()">
      <mat-form-field>
        <mat-label>Fecha inicial</mat-label>
        <input matInput [matDatepicker]= "picker1" formControlName="fechaInicial" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]= "picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Fecha final</mat-label>
        <input matInput [matDatepicker]= "picker2" formControlName="fechaFinal" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Código de tienda</mat-label>
        <input matInput formControlName="codigoTienda" placeholder="Código">
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Consultar</button>
    </form>
  
    <table>
      <thead>
        <tr class="row">
          <th>Fecha</th>
          <th>Ventas</th>
          <th>Unidades</th>
          <th>Facturas</th>
        </tr>
      </thead>
      <tbody>
        <table>
          <tr *ngFor= "let objeto of objetoModeloList" class="row">
            <td>{{ objeto.fecha | date: 'MM/dd/yyyy'}}</td>
            <td>{{ objeto.ventas }}</td>
            <td>{{ objeto.unidades }}</td>
            <td>{{ objeto.facturas }}</td>
            <td>{{ objeto.ciudad }}</td>
            <td class="actions-container">
              <mat-icon (click)= "eliminar()" >delete</mat-icon>
            </td>
          </tr>
        </table>
      </tbody>
    </table>
  </div>
  
-->