.volver-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .volver-icon {
    margin-right: 5px;
  }

.row {
    display: flex;
    align-items: center;
    background-color: #ffffff; 
  }
  
  .row:nth-child(2n) {
    background-color: #f1eeee; 
  }

  .actions-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .fijar-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    margin: 0;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  