<div class="menu-container">
  <div class="button-row">
    <button mat-button class="custom-button custom-option-button" routerLink="/dashboard">
      <mat-icon class="button-icon">dashboard</mat-icon> Dashboard
    </button>
    <button mat-button class="custom-button custom-option-button" routerLink="/report">
      <mat-icon class="button-icon">description</mat-icon> Report
    </button>
  </div>
  <div class="button-row">
    <button mat-button class="custom-button custom-option-button" routerLink="/ope">
      <mat-icon class="button-icon">build</mat-icon> Ope
    </button>
    <button mat-button class="custom-button custom-option-button" routerLink="/venta">
      <mat-icon class="button-icon">shopping_cart</mat-icon> Venta
    </button>
  </div>
  <div class="center-button-row">
    <button mat-button class="custom-button custom-login-button" routerLink="/login">
      <mat-icon class="button-icon">login</mat-icon> Login
    </button>
  </div>
</div>




