.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
  justify-content: center;
  margin: 10px 0; /* Aplica un margen de 10px encima y debajo de los botones */
}

.center-button-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-button {
  width: 130px;
  height: 130px;
  font-size: 16px;
  margin: 0 10px; /* Aplica un margen de 10px a la derecha y a la izquierda */
  border-radius: 20px; /* Aplica bordes curvos */
  text-decoration: none; /* Elimina las líneas */
  outline: none; /* Elimina el contorno al hacer clic */
  border: none; /* Elimina los bordes */
}

.custom-login-button {
  background-color: #11dad0; /* Ajusta el color de fondo según tus necesidades */
  color: #000000; /* Ajusta el color del texto según tus necesidades */
}

.custom-option-button{
  background-color: #11dad0; /* Ajusta el color de fondo según tus necesidades */
  color: #000000; /* Ajusta el color del texto según tus necesidades */
}
