<div class="menu-container">
  <div class="button-row">
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/dashboard']">
      <mat-icon class="button-icon">dashboard</mat-icon> Tablero
    </button>
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/report']">
      <mat-icon class="button-icon">description</mat-icon> Reportes
    </button>
  </div>
  <div class="button-row">
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/ope']">
      <mat-icon class="button-icon">build</mat-icon> Operación
    </button>
    <button mat-button class="custom-button custom-option-button" [routerLink]="['/reporteventa']">
      <mat-icon class="button-icon">shopping_cart</mat-icon> Cargar
    </button>
  </div>
  <div class="center-button-row">
    <button mat-button class="custom-button custom-login-button" (click)= "redirectToLogin()">
      <mat-icon class="button-icon">login</mat-icon> Login
    </button>
  </div>
</div>
