<div class="contenedor-principal">
    <div class="fila-1">
      <div class="precio-promedio">
        <h3>Precio promedio</h3>
        <p>Contenido</p>
      </div>
      <div class="ticket-promedio">
        <h3>Ticket promedio</h3>
        <p>Contenido</p>
      </div>
    </div>
    <div class="fila-2">
      <div class="vm2">
        <h3>VM2</h3>
        <p>Contenido </p>
      </div>
      <div class="unidad-promedio">
        <h3>Unidad promedio</h3>
        <p>Contenido</p>
      </div>
    </div>
  </div>
  